<div
  style="width: 100%; font-size: 1em"
  [formGroup]="parentForm"
  [ngStyle]="{ '--height': height }"
>
  @if (label) {
  <label [for]="label" [class]="'custom-label ' + labelClass">
    {{ label }}
    @if (containRequiredError()) {
    <span
      style="
        color: var(--smp-color-form-label);
        font-size: 0.95em;
        font-weight: 500;
      "
      >*</span
    >
    } @else {
    <span
      style="
        color: var(--smp-color-form-label);
        font-size: 0.95em;
        font-weight: 500;
      "
      >&nbsp;</span
    >
    }
  </label>
  }

  <div [class]="'dropdown-container ' + dropdownContainerClass">
    <!-- errors -->
    <div class="dropdown-error-container">
      <custom-app-error
        [control]="parentForm.controls[controlName]"
        [validation]="validation"
        [name]="name"
      />
    </div>

    <!-- header -->
    <div
    [class.disable-toggle]="disableToggle"
      [class]="'dropdown-header ' + dropdownHeaderClass"
      (click)="toggleDropdown()"
      [class.has-error]="
        parentForm.controls[controlName].invalid &&
        parentForm.controls[controlName].touched
      "
    >
      <!-- Selections inside header (only when chipsBelow = false) -->
      @if (!chipsBelow) {
      <div class="selected-option-container">
        @if (selectedOptions.length > 0) { @for (opt of selectedOptions; track
        opt) {
        <span class="selected-tag" [ngClass]="{ 'filter-tag': filterDesign }">
          <p style="color: #fff"> {{ opt | localize:'name' : translationService.currentLang() }}</p>
          <!-- @if (itemRemovable) {
                  <button
                    type="button"
                    class="remove-tag"
                    (click)="$event.stopPropagation(); removeSelected(opt.id)"
                  >
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path d="M7.428.571L.571 7.428M.571.571L7.428 7.428" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </button>
                } -->
        </span>
        } } @else {
        <span class="selected-value placeholder">{{ placeholder | translate }}</span>
        }
      </div>
      } @else {
      <!-- When chips are below, keep header clean with just placeholder/count -->
      <div class="selected-option-container">
        @if (selectedOptions.length === 0) {
        <span class="selected-value placeholder">{{ placeholder | translate }}</span>
        } @else {
        <span class="selected-value"
          >{{ selectedOptions.length }} {{'GENERAL.SELECTED' | translate}}</span
        >
        }
      </div>
      }

      <!-- right icons -->
      <div class="dropdown-icons">
        @if (selectedOptions.length > 0 && showClear) {
        <span class="clear-icon" (click)="clearSelection($event)">
          <svg
            width="inherit"
            height="inherit"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <g clip-path="url(#clip0_30_1710)">
              <path
                d="M15.054 1.863L1.697 15.22"
                stroke="#999"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M1.697 1.863L15.054 15.22"
                stroke="#999"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </svg>
        </span>
        }
      <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.860142 1.10988C0.985051 0.985709 1.15402 0.916015 1.33014 0.916015C1.50627 0.916015 1.67523 0.985709 1.80014 1.10988L4.19348 3.46988L6.55348 1.10988C6.67838 0.98571 6.84735 0.916016 7.02348 0.916016C7.1996 0.916016 7.36857 0.98571 7.49347 1.10988C7.55596 1.17185 7.60556 1.24559 7.6394 1.32683C7.67325 1.40807 7.69067 1.4952 7.69067 1.58321C7.69067 1.67122 7.67325 1.75836 7.6394 1.8396C7.60556 1.92083 7.55596 1.99457 7.49347 2.05654L4.66681 4.88321C4.60483 4.9457 4.5311 4.99529 4.44986 5.02914C4.36862 5.06298 4.28148 5.08041 4.19347 5.08041C4.10547 5.08041 4.01833 5.06298 3.93709 5.02914C3.85585 4.99529 3.78212 4.9457 3.72014 4.88321L0.860142 2.05654C0.797656 1.99457 0.748061 1.92083 0.714215 1.83959C0.680369 1.75836 0.662943 1.67122 0.662943 1.58321C0.662943 1.4952 0.680369 1.40807 0.714215 1.32683C0.748061 1.24559 0.797657 1.17185 0.860142 1.10988Z" fill="#4B4F55"/>
</svg>

      </div>
    </div>

    <!-- Chips below the header (only when chipsBelow = true) -->
    @if (chipsBelow && selectedOptions.length > 0) {
    <div class="selected-chips" [class.wrap-ships]="wrapShips">
      @for (opt of selectedOptions; track opt.id) {
      <span class="chip" >
        <span class="chip__label">  {{ getSelectedLabel(opt) }} <span style="color: #B42318;">
 {{opt.status==='INACTIVE' ?( 'GENERAL.STATUS_LABELS.INACTIVE' | translate ):''}}
        </span></span>
        @if (itemRemovable) {

          <span (click)="removeSelectedChip(opt.id)" class="chip__remove-icon"
            ><svg
              width="auto"
              height="auto"
              viewBox="0 0 15 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.5 0.5C3.3525 0.5 0 3.8525 0 8C0 12.1475 3.3525 15.5 7.5 15.5C11.6475 15.5 15 12.1475 15 8C15 3.8525 11.6475 0.5 7.5 0.5ZM11.25 10.6925L10.1925 11.75L7.5 9.0575L4.8075 11.75L3.75 10.6925L6.4425 8L3.75 5.3075L4.8075 4.25L7.5 6.9425L10.1925 4.25L11.25 5.3075L8.5575 8L11.25 10.6925Z"
                fill="#828282"
              />
            </svg>
          </span>

        }
      </span>
      }
    </div>
    }

    <!-- dropdown menu -->
    @if (isOpen) {
    <div
      #dropdownOptionsMultiSelectForm
      [class]="'dropdown-options ' + dropdownOptionsClass"
      [clickOutside]="dropdownOptionsMultiSelectForm"
      (clickOutsideEmitter)="closeDropdown()"
    >
      @if (enableFilter) {
      <div class="filter-container">
        <div class="search-icon">
          <svg
            width="inherit"
            height="inherit"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M8.455 15.375c3.717 0 6.73-3.013 6.73-6.73S12.172 1.917 8.455 1.917 1.726 4.93 1.726 8.646s3.013 6.729 6.729 6.729Z"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.893 16.083L14.476 14.666"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <input
          type="text"
          class="filter-input"
          [placeholder]="'GENERAL.SEARCH' | translate"
          #filterInput
          (input)="filterText = filterInput.value; filterOptions()"
        />
      </div>
      }

      <div class="options-list">
        @for (option of filteredOptions; track option.id) {
        <label
          class="dropdown-option"
          [ngClass]="{ 'filter-design': filterDesign }"
        >

          @if(showInactive&&option.status&&option.status==='INACTIVE') {

                 <input
                 [disabled]="disableInactiveSelection"
                 style="cursor: not-allowed;"
            type="checkbox"
            class="custom-checkbox"
            [checked]="isSelected(option.id)"
            (change)="toggleOptionSelection(option)"
          />
            <div class="option-inactive-container" [style]="{'opacity': disableInactiveSelection ? '0.3' : '1', 'pointer-events': disableInactiveSelection ? 'none' : 'auto'}">
              <p class="option-label">{{ getSelectedLabel(option)   }}</p>
              <p class="inactive-text" style="color: #B42318 !important;">{{'GENERAL.STATUS_LABELS.INACTIVE' | translate}}</p>
            </div>

          }@else {
                 <input
            type="checkbox"
            class="custom-checkbox"
            [checked]="isSelected(option.id)"
            (change)="toggleOptionSelection(option)"
          />

            <span class="option-label">{{ getSelectedLabel(option)  }}</span>
          }
        </label>
        } @if (filteredOptions.length === 0) {
        <div class="no-options">{{ 'GENERAL.NO_OPTIONS_FOUND' | translate }}</div>
        }
      </div>
    </div>
    }
  </div>

  <!-- sync to form control -->
  <input
    type="hidden"
    [id]="label"
    [name]="name"
    [formControlName]="controlName"
  />
</div>
