@if(isAddingTask){
  <app-new-task [userId]="user.id" (Cancel)="onCancelAddTask()" (TaskCreated)="onTaskCreated($event)" ></app-new-task>
}
<section id = "tasks">
  <header>
    <h2 class="text-light">{{user.name}}'s Tasks</h2>
  </header>
  <menu>
    <button id="btn-add" (click)="onStartAddTask()">Add Task</button>
  </menu>

  <ul>
    @for (task of filteredTasks; track task.id) {
      <li>
      <app-task  [task]="task" (Complete)="onTaskCompleted($event)"/>
    </li>
    }

  </ul>
</section>
