<form (ngSubmit)="onSubmit(titleInput.value, requestInput.value)" #form>
  <!--
    Using ngProjectAs to force the icon to be projected into the button component
    even though it is not a direct child of the button element.

  -->
  <app-control label="Title">
    <!--
      Using template reference variable to get the input value on submit
      instead of using ngModel for two-way binding.

    -->
    <label for="title">Title</label>
    <!-- Using template reference variable to get the input value on submit -->
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Title"
      #titleInput
    />
  </app-control>
  <!--
    Using ngProjectAs to force the icon to be projected into the button component
    even though it is not a direct child of the button element.
  -->
  <app-control label="Request">
    <!-- Using template reference variable to get the input value on submit -->
    <label for="request">Request</label>

    <!--
        Using template reference variable to get the input value on submit
      instead of using ngModel for two-way binding.

    -->
    <textarea
      class="form-control"
      id="request"
      rows="3"
      #requestInput
    ></textarea>
  </app-control>

  <button appButton #submitBtn>
    Submit
    <i ngProjectAs="i" class="fas fa-paper-plane">sd </i>
  </button>
</form>
