<form (ngSubmit)="onSubmit()" #form>
  <!--
    Using ngProjectAs to force the icon to be projected into the button component
    even though it is not a direct child of the button element.

  -->
  <app-control label="Title">
    <!--
      Using template reference variable to get the input value on submit
      instead of using ngModel for two-way binding.

    -->
    <label for="title">Title</label>
    <!-- Using template reference variable to get the input value on submit -->
    <!-- #titleInput
     #input
      -->
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Title"
      [(ngModel)]="enteredTitle"
      name="title"
    />
  </app-control>
  <!--
    Using ngProjectAs to force the icon to be projected into the button component
    even though it is not a direct child of the button element.
  -->
  <app-control label="Request">
    <!-- Using template reference variable to get the input value on submit -->
    <label for="request">Request</label>

    <!--
        Using template reference variable to get the input value on submit
      instead of using ngModel for two-way binding.

    -->
    <textarea
      class="form-control"
      id="request"
      rows="3"
      [(ngModel)]="enteredText"
      name="request"
      placeholder="Describe your issue"
    ></textarea>
  </app-control>

  <button appButton #submitBtn>
    Submit
    <i ngProjectAs="i" class="fas fa-paper-plane"></i>
  </button>
</form>
