<h2>Learning Resources</h2>
<p>Helpful resources you might want to use in addition to this course.</p>
<ul>
  <li>
    <a href="https://angular.dev" target="_blank" appSafeLink="my-app-link"
      >Angular Documentation</a
    >
  </li>
  <li>
    <a
      href="https://academind.com/courses"
      target="_blank"
      appSafeLink="my-app-link"
      >Academind Courses</a
    >
  </li>
  <li>
    <a
      href="https://portfolio-website-pearl-five-19.vercel.app/"
      target="_blank"
      appSafeLink="my-app-link"
      queryParams="portfolio"
      >My Portfolio</a
    >
  </li>
  <li>
    <a
      href="https://www.google.com/search?q=angular"
      target="_blank"
      appSafeLink
      >Google</a
    >
  </li>
</ul>
