<app-header />
<main class="container mt-5">
  <ul id="users" class="row list-unstyled mb-4 justify-content-center">
    <!-- @for (user of users; track $index) {
    <li class="">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    } -->

    <li *ngFor="let user of users" >
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
  </ul>

  <!-- @if (selectedUser) {
  <div>
    <app-Tasks [user]="selectedUser" />
  </div>
  }@else {
  <div class="text-center">
    <h2 class="text-light ">Select a user to view their tasks</h2>
  </div>
  } -->
  <div *ngIf="selectedUser else fillback"   class="mt-5">
    <app-Tasks [user]="selectedUser" />
  </div>
  <ng-template #fillback>
    <div class="text-center">
      <h2 id ="fillback" >Select a user to view their tasks</h2>
    </div>
  </ng-template>

</main>
