<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>
  <!--
  <h1>EasyTask</h1>
  <p>Enterprise-level task management without friction</p>
  <hr />
  <app-button>Logout</app-button>



-->
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <!--


      -->
      <li>
        <a href="/">Settings</a>
      </li>
      <li>
        <!-- <app-button>Logout</app-button> -->
        <button appButton>
          Logout <i ngProjectAs="i" class="fas fa-sign-out-alt"></i>
        </button>
      </li>
    </ul>
  </nav>
</header>
